In [1]:
import os
import sys

import pandas as pd

import muscope_loader

In [2]:
print(sys.modules['muscope_loader'].__file__)
muscope_loader_dp = os.path.dirname(sys.modules['muscope_loader'].__file__)
downloads_dp = os.path.join(muscope_loader_dp, 'downloads')
hl2a_18Sdiel_xls_fp = os.path.join(downloads_dp, 'Caron_HL2A_18Sdiel_seq_attrib_v2.xls')

print(hl2a_18Sdiel_xls_fp)
os.path.exists(hl2a_18Sdiel_xls_fp)

/home/jklynch/host/project/muscope/muscope-data-loaders/muscope_loader/__init__.py
/home/jklynch/host/project/muscope/muscope-data-loaders/muscope_loader/downloads/Caron_HL2A_18Sdiel_seq_attrib_v2.xls

True

In [3]:
readme_block_2_df = pd.read_excel(
    hl2a_18Sdiel_xls_fp,
    sheet_name='README',
    header=22,
    index_col='Cast #',
    skip_rows=range(23),
    skip_footer=5,
    usecols=range(9, 17)
)

In [4]:
readme_block_2_df.head()

,Temp (its-90),Sal (pss-78),DO (umol/l),Chl a (ug/l),Time (CTD Sampled),Sample Number,Light
Cast #,,,,,,,
S47C1,26.950,35.386,210.86,0.2219,18:57:00,1,Dark
S49C1,26.901,35.388,210.54,0.2368,22:36:00,2,Dark
S51C1,26.869,35.388,209.92,0.2340,02:51:00,3,Dark
S52C1,26.855,35.391,209.75,0.2357,06:49:00,4,Light
S53C1,26.853,35.389,210.32,0.2247,12:52:00,5,Light

In [5]:
core_attr_plus_data_df = pd.read_excel(
    hl2a_18Sdiel_xls_fp,
    sheet_name='core attributes + data',
    skiprows=(0,2)
)
# column 10 header is on the wrong line
column_10_header = core_attr_plus_data_df.columns[9]
core_attr_plus_data_df.rename(columns={column_10_header: 'seq_name'}, inplace=True)

In [6]:
core_attr_plus_data_df.head()

,pi,cruise_name,collection_date,collection_time,station,cast_num,depth_sample,rosette_position,sample_name,seq_name,...,dino_abundance,ciliate_abundance,diatom_abundance,totalnano_abundance,hetnano_abundance.1,totalnano_FLB_uptake,mixnano_FLB_uptake,hetnano_FLB_uptake,comment,n_fixation
0,Caron,HL2A,2015-07-31,18:57:00,S47,C1,15.0,21.0,Diel-RNA-1_S1,Diel-RNA-1_S1_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diel-RNA-1_S1_L001_R2_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Caron,HL2A,2015-07-31,22:36:00,S49,C1,15.0,21.0,Diel-RNA-2_S2,Diel-RNA-2_S2_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diel-RNA-2_S2_L001_R2_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Caron,HL2A,2015-08-01,02:51:00,S51,C1,15.0,21.0,Diel-RNA-3_S3,Diel-RNA-3_S3_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
core_attr_plus_data_df = core_attr_plus_data_df.assign(
    file_=[os.path.join('/iplant', s) for s in core_attr_plus_data_df.seq_name])
core_attr_plus_data_df.head()

,pi,cruise_name,collection_date,collection_time,station,cast_num,depth_sample,rosette_position,sample_name,seq_name,...,ciliate_abundance,diatom_abundance,totalnano_abundance,hetnano_abundance.1,totalnano_FLB_uptake,mixnano_FLB_uptake,hetnano_FLB_uptake,comment,n_fixation,file_
0,Caron,HL2A,2015-07-31,18:57:00,S47,C1,15.0,21.0,Diel-RNA-1_S1,Diel-RNA-1_S1_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-1_S1_L001_R1_001.fastq.gz
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diel-RNA-1_S1_L001_R2_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-1_S1_L001_R2_001.fastq.gz
2,Caron,HL2A,2015-07-31,22:36:00,S49,C1,15.0,21.0,Diel-RNA-2_S2,Diel-RNA-2_S2_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-2_S2_L001_R1_001.fastq.gz
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diel-RNA-2_S2_L001_R2_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-2_S2_L001_R2_001.fastq.gz
4,Caron,HL2A,2015-08-01,02:51:00,S51,C1,15.0,21.0,Diel-RNA-3_S3,Diel-RNA-3_S3_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-3_S3_L001_R1_001.fastq.gz

In [8]:
import datetime

In [9]:
core_attr_plus_data_df.collection_date[0]

'2015-07-31'

In [10]:
core_attr_plus_data_df.collection_time[0]

datetime.time(18, 57)

In [11]:
core_attr_plus_data_df.collection_time[0].isoformat(timespec='seconds')

'18:57:00'

In [12]:
for r, row in core_attr_plus_data_df.iterrows():
    print(row.collection_time)
    break

18:57:00

In [17]:
core_attr_plus_data_df.station = [ (s if isinstance(s, float) else float(s[1:])) for s in core_attr_plus_data_df.station]

In [18]:
core_attr_plus_data_df.head()

,pi,cruise_name,collection_date,collection_time,station,cast_num,depth_sample,rosette_position,sample_name,seq_name,...,ciliate_abundance,diatom_abundance,totalnano_abundance,hetnano_abundance.1,totalnano_FLB_uptake,mixnano_FLB_uptake,hetnano_FLB_uptake,comment,n_fixation,file_
0,Caron,HL2A,2015-07-31,18:57:00,47.0,C1,15.0,21.0,Diel-RNA-1_S1,Diel-RNA-1_S1_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-1_S1_L001_R1_001.fastq.gz
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diel-RNA-1_S1_L001_R2_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-1_S1_L001_R2_001.fastq.gz
2,Caron,HL2A,2015-07-31,22:36:00,49.0,C1,15.0,21.0,Diel-RNA-2_S2,Diel-RNA-2_S2_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-2_S2_L001_R1_001.fastq.gz
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diel-RNA-2_S2_L001_R2_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-2_S2_L001_R2_001.fastq.gz
4,Caron,HL2A,2015-08-01,02:51:00,51.0,C1,15.0,21.0,Diel-RNA-3_S3,Diel-RNA-3_S3_L001_R1_001.fastq.gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/iplant/Diel-RNA-3_S3_L001_R1_001.fastq.gz